/*-----------------------------preview-----------------------------*/

#home__kizo {
  position: absolute;
  top: calc(90vh/2);
  left: calc(90vw/2);
  align-items: center;
  text-align: center;
}

#bg {
  height: 100vh;
  background-color: #2A2B2F;
}


#preview {
  position: relative;
  background-color: #161616;
  // font-family: 'Josefin Sans', sans-serif;
}

#preview__canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

canvas {
  display: block;
}

/*==============================preview==============================*/