/*-----------------------------social-----------------------------*/

.social { 
	display: flex;
	justify-content: center;
	align-items: center;
	// padding: 10px;
}

/* Wrapper */
.circle-social {
	background-color: white;
	border-radius: 100%;
	height: 64px;
	width: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;

	
	a {
		z-index: 5;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.circle-social__anim {
		-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
		
		border-radius: 100%;
		height: 0;
		width: 0;
		position: absolute;
		z-index: 0;

		
	}

	&:hover {
		.circle-social__anim {
			-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
			height: 68px;
			width: 68px;
		}
		.soc-icons {
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
				-o-transition: all 0.3s;
						transition: all 0.3s;
			fill: white;
		}
	}


	&:not(:last-child) {
		margin-right: 10px;
	}

	.icon-github  {
		fill: #000000;
	}

	.icon-linkedin {
		fill: #0288d1;
	}

	.icon-codewars {
		fill: #c95d53;
	}
	
	.icon-telegram {
		fill: #50b1df;
	}

	.icon-dribbble {
		fill: #e66290;
	}
}


.github {
	background-color: #000000;
}

.linkedin {
	background-color: #0288d1;
}

.codewars {
	background-color: #c95d53;
}

.telegram {
	background-color: #50b1df;
}

.dribbble {
	background-color: #e66290;
}

/*==============================social==============================*/