/*-----------------------------timeline-----------------------------*/

$color_main:#ed5565;
// $color_main:#f45b69;

.timeline {
  ul {
      li {
          list-style-type: none;
          position: relative;
          width: 6px;
          margin: 0 auto;
          // padding-top: 20px;
          background: #fff;
          
          &::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: inherit;
            z-index: 1;
          }
          &:nth-child(odd) {
            .timeline__box {
              border-radius: 20px;
              left: 45px;
              &:hover::before {
                // background-color: #c4d8dd;
                border-color: transparent #c4d8dd transparent transparent;
              }
              &::before {
                left: -10px;
                border-width: 8px 16px 8px 0;
                border-color: transparent #f45b69 transparent transparent;
              }
            }
          }
          &:nth-child(even) {
            .timeline__box {
              border-radius: 20px;
              left: -439px;
              &:hover::before {
                // background-color: #c4d8dd;
                border-color: transparent transparent transparent #c4d8dd;
              }
              &::before {
                right: -10px;
                border-width: 8px 0 8px 16px;
                border-color: transparent transparent transparent #f45b69;
              }
            }
          }
          .timeline__box {
            position: relative;
            bottom: 0;
            width: 400px;
            padding: 15px;
            background: #f45b69;
            font-size: 20px;
            &:hover {
              background-color: #c4d8dd;
            }
            &::before {
              content: "";
              position: absolute;
              bottom: 7px;
              width: 0;
              height: 0;
              border-style: solid;
            }
          }
      }
  }
} 

.timeline-data {
  display: flex;
  justify-content: space-between;   
  p {
    display: block;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  
}

.timeline-text {
  .left {
    text-align: center;
    p:nth-child(2) {
      font-size: 16px;
      padding-top: 6px;
    }
  }
  .right {
    text-align: center;
    p:nth-child(2) {
      font-size: 16px;
      padding-top: 6px;
    }
  }
}


time {
  display: block;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 8px;
}



/* MOBILE */
@media (max-width: 939.98px) {
  .reset-all {
      background : 0;
      margin : 0;
      padding : 0;
      position : static;
      width : auto;
  }

  .timeline ul li  {
    @extend .reset-all;
  }

  .timeline ul li .timeline__box {
    @extend .reset-all;
    
  }

  .timeline ul li:nth-child(even) .timeline__box::before {
    @extend .reset-all;
  }

  .timeline ul li:nth-child(odd) .timeline__box::before {
    @extend .reset-all;
  }


  .timeline {
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      li {
        margin-bottom: 20px;

        &:nth-child(odd) {
          .timeline-data {
            p:nth-child(2) {
              order: 0;
            }
            p:nth-child(1) { 
              order: 1;
            }
          }
        }
        
        .timeline__box  {
          width: 100%;
          height: 100px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          background-color: #f45b69;
          
          &:hover {
            background-color: #c4d8dd;
          }

          .timeline-data {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 100%;

            p {
              margin-bottom: 0;
            }
          }
        
          .timeline-text {
            p {
              &:not(:last-child) {
                margin-bottom: 10px;
              }
            }
          }
      
        }
      }
    }
  }
}

/*==============================timeline==============================*/