@import "nullstyle";
// @import "~normalize.css/normalize";
@import "main";
@import "timeline";
@import "social";
@import "footer";
@import "card";
@import "pie";
@import "preview";
@import "burger";


// &display=swap - optimizes font loading
// @import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800&display=swap);
@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Raleway:700,800&display=swap);


